<!DOCTYPE html>
<html>
<head>
	<title>Matches</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class='container jumbotron'>
	{% if matches %}
	    {% for m in matches %}
	    	<form method="get" action="{% url 'Buy:match' %}">
	    		<button class='btn' name="matchid" value="{{m.pk}}" type="submit">{{ m }}</button>
	    	</form>
	    	<br>
	    {% endfor %}
	{% else %}
		<p>No Matches found !!</p>
	{% endif %}	
	</div>
	
</body>
</html>
